

.text_transform_uppercase{
    text-transform:uppercase;
}
.text_transform_lowercase{
    text-transform : lowercase;
}
.text_transform_capitalize{
    text-transform : capitalize; 
}
.text_center{
    text-align : center; 
}
.text_right{
    text-align : right; 
}
.text_decor_underline{
    text-decoration : underline; 
} 
.text_decor_overline{
    text-decoration : overline; 
}  
.text_decor_line-through{
    text-decoration : line-through; 
}  
.text_indent{
    text-indent: 160px; 
}  
.letter_space{
    letter-spacing :10px; 
}  
.text_height{
    line-height : 25px; 
}                                                    